* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  margin: 0px;
  text-decoration: none;

  color: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.mainContainer {
  width: 80dvw;
  height: 90dvh;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 80dvw;

  .logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #6daaff;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 10px;
  gap: 30px;
  padding: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-link {
  font-size: 14px;
}

.nav-link.active {
  font-weight: 800;
}

.customerGreeting :nth-child(2) {
  color: #d9d9d9;
}

.home {
  height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* border: 1px solid black; */

  h1 {
    font-size: 200px;
  }

  h3 {
    font-size: 60px;
    font-weight: 200;
    color: orangered;
  }

  p {
    color: grey;
    text-align: center;
  }
}

img {
  border-radius: 20px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  img {
    width: 30%;
  }
}

/* search component */
.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.searchResults {
  width: 70dvw;
  height: 75dvh;
  /* border: 1px solid black; */
}

.findContainer {
  display: flex;
  gap: 40px;
  button {
    padding: 10px;
    background-color: #3aff6f;
    border: none;
    border-radius: 10px;
    width: 5dvw;
  }
}
#searchInput {
  padding: 10px;
  width: 40dvw;
  border-radius: 20px;
  background: transparent;
  appearance: none;
  outline: none;
  border: 1px solid rgb(207, 207, 207);
  color: rgb(150, 150, 150);
}
